/* Stile Generico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}
/* Stile Generico */

/* Header */
h1{
    font-size: 50px;
}
.header-container {
    background-color: white;
    height: 70px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
}

header>img {
    padding-left: 20px;
}

/* Task Button*/

main{
    margin-top: 50px;
}

.bluButton {	
	background-color:#47ADF1;
	border-radius:6px;
	border:1px solid #47ADF1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}
.bluButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.bluButton:active {
	position:relative;
	top:1px;
}

.greyButton {	
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #e9e9e9;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
    margin-left: 5px;
	padding:6px 15px;
	text-decoration:none;
}
.greyButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.greyButton:active {
	position:relative;
	top:1px;
}

/* Task Container */
#row {
    color: #F5F8F9;
    border-color: #F6F8F9;
    height: 5px;
    border: 0;
}

.button-container {
    
    background-color: white;
    height: 50px;
    width: 80%;
    padding-left: 40px;
    margin: auto;    
    display: flex;
    align-items:center;
}

.task-container {
    background-color: white;
    width: 80%;
    padding-left: 40px;
    padding-top: 20px;
    margin: auto;
}
	/* ----------------- dropdown - attivare il menu a tendina ------------------ */
.blue {    
    background-color: #46ADF1;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 9px;
}